In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import config

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marrakesh,MA,2022-05-05 18:18:56,31.6315,-8.0083,84.27,20,20,9.22
1,1,Tukrah,LY,2022-05-05 18:18:57,32.5341,20.5791,66.45,52,0,14.38
2,2,Kodiak,US,2022-05-05 18:18:23,57.7900,-152.4072,42.31,81,100,12.66
3,3,Murray Bridge,AU,2022-05-05 18:18:58,-35.1167,139.2667,50.13,82,47,8.72
4,4,Buchanan,LR,2022-05-05 18:18:59,5.8808,-10.0467,81.21,82,86,16.42

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marrakesh,MA,2022-05-05 18:18:56,31.6315,-8.0083,84.27,20,20,9.22
4,4,Buchanan,LR,2022-05-05 18:18:59,5.8808,-10.0467,81.21,82,86,16.42
5,5,Safford,US,2022-05-05 18:18:59,32.8340,-109.7076,81.10,11,0,3.44
9,9,Kharakvasla,IN,2022-05-05 18:19:03,18.4333,73.7667,80.31,54,0,4.79
12,12,Hilo,US,2022-05-05 18:19:05,19.7297,-155.0900,77.29,96,100,3.44
14,14,Saint-Philippe,RE,2022-05-05 18:19:06,-21.3585,55.7679,76.59,87,69,16.55
16,16,Rikitea,PF,2022-05-05 18:17:27,-23.1203,-134.9692,78.24,85,38,14.63
17,17,Souillac,MU,2022-05-05 18:19:08,-20.5167,57.5167,77.38,83,75,19.57
18,18,Faanui,PF,2022-05-05 18:19:11,-16.4833,-151.7500,81.18,74,31,7.81
20,20,Cabo San Lucas,MX,2022-05-05 18:16:48,22.8909,-109.9124,82.62,54,0,3.44

In [34]:
preferred_cities_df.notnull().sum()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [32]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Marrakesh      MA     84.27  31.6315   -8.0083
4         Buchanan      LR     81.21   5.8808  -10.0467
5          Safford      US     81.10  32.8340 -109.7076
9      Kharakvasla      IN     80.31  18.4333   73.7667
12            Hilo      US     77.29  19.7297 -155.0900
14  Saint-Philippe      RE     76.59 -21.3585   55.7679
16         Rikitea      PF     78.24 -23.1203 -134.9692
17        Souillac      MU     77.38 -20.5167   57.5167
18          Faanui      PF     81.18 -16.4833 -151.7500
20  Cabo San Lucas      MX     82.62  22.8909 -109.9124

In [37]:
file_to_export="prefered_weather.csv"
hotel_df.to_csv(file_to_export, index=False)