## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
sys.path.append("..")

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ghanzi,BW,-21.5667,21.7833,62.42,35,0,4.07,clear sky
1,1,Deer Lake,CA,49.1667,-57.4316,46.26,76,75,13.80,broken clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,50.11,62,40,27.63,scattered clouds
3,3,Tuatapere,NZ,-46.1333,167.6833,51.55,89,60,4.38,broken clouds
4,4,Richards Bay,ZA,-28.7830,32.0377,66.72,94,1,7.18,clear sky

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Santa Cruz,BO,-17.8000,-63.1667,80.06,31,0,4.61,clear sky
10,10,Galesong,ID,-5.3166,119.3661,75.22,84,67,5.14,broken clouds
12,12,Butaritari,KI,3.0707,172.7902,81.50,71,66,17.13,broken clouds
14,14,Tonj,SS,7.2737,28.6822,83.88,52,52,2.55,broken clouds
15,15,Puerto Ayora,EC,-0.7393,-90.3518,80.56,84,100,7.96,overcast clouds
16,16,Saint-Philippe,RE,-21.3585,55.7679,74.79,86,86,16.91,light rain
24,24,Guerrero Negro,MX,27.9769,-114.0611,72.09,54,5,13.04,clear sky
27,27,Buala,SB,-8.1450,159.5921,80.62,79,14,6.13,few clouds
31,31,Souillac,MU,-20.5167,57.5167,75.58,94,75,18.41,light rain
34,34,Mahebourg,MU,-20.4081,57.7000,76.24,94,75,18.41,broken clouds

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Santa Cruz,BO,-17.8000,-63.1667,80.06,31,0,4.61,clear sky
10,10,Galesong,ID,-5.3166,119.3661,75.22,84,67,5.14,broken clouds
12,12,Butaritari,KI,3.0707,172.7902,81.50,71,66,17.13,broken clouds
14,14,Tonj,SS,7.2737,28.6822,83.88,52,52,2.55,broken clouds
15,15,Puerto Ayora,EC,-0.7393,-90.3518,80.56,84,100,7.96,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Maragogi,BR,-9.0122,-35.2225,79.14,83,100,8.46,overcast clouds
683,683,Palang,BD,23.2167,90.3500,76.30,83,61,1.14,broken clouds
687,687,Rameswaram,IN,9.2833,79.3000,86.00,74,97,8.81,overcast clouds
688,688,Toyo,PH,10.7333,125.0167,77.27,93,100,3.69,overcast clouds
689,689,Nortelandia,BR,-14.4547,-56.8028,79.88,39,0,4.12,clear sky

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Santa Cruz,BO,80.06,clear sky,-17.8000,-63.1667,
10,Galesong,ID,75.22,broken clouds,-5.3166,119.3661,
12,Butaritari,KI,81.50,broken clouds,3.0707,172.7902,
14,Tonj,SS,83.88,broken clouds,7.2737,28.6822,
15,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,
16,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,
24,Guerrero Negro,MX,72.09,clear sky,27.9769,-114.0611,
27,Buala,SB,80.62,few clouds,-8.1450,159.5921,
31,Souillac,MU,75.58,light rain,-20.5167,57.5167,
34,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Santa Cruz,BO,80.06,clear sky,-17.8000,-63.1667,Aviador Hotel Boutique
10,Galesong,ID,75.22,broken clouds,-5.3166,119.3661,Sapriadi Appy
12,Butaritari,KI,81.50,broken clouds,3.0707,172.7902,Isles Sunset Lodge
14,Tonj,SS,83.88,broken clouds,7.2737,28.6822,Lakan Hotel
15,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))